<h1>Login</h1>

<%=form_tag login_path do %>
    <%= label :username, "Username" %></br>
    <%= text_field_tag :username %></br>

  
    <%=label :password, "Password" %><br>
    <%=password_field_tag :password %></br>
    
    <%=submit_tag "Login"%></br>
<% end %> </br>

<h2><%= link_to "Sign Up", new_user_path %> </h2>




