
  <div class="container">
    <div class="jumbotron">
      <%=form_for @post do |f|%>
        <%=f.label :title, "Title"%></br>
        <%=f.text_field :title%></br>
        </br>
        <%=f.label :content, "Content"%></br>
        <%=f.text_area :content%></br>

        <%=f.hidden_field :user_id, :value => current_user.id%>

        <%=f.label :img, "Image"%></br>
        <%=f.text_field :img%></br>

        </br>

        <h5>Add A Hashtag: </h5>

          <% @tags.each do |tag| %>
            
                <%= check_box_tag 'post[tag_ids][]', tag.id -%>
                <%= h tag.name -%></br>
            
          <% end %></br>

        <%=f.submit%>

      <%end%>
    </div>
</div>

