<div class= "align">

<h1>All Posts</h1>
 <div class = "alert">
     <%=flash["alert"]%>
 </div>




    <% @posts.each do |post|%>
    <div class= "grid">
     <%= link_to post.title, post_path(post)%>
    <img class="myimage"> <p><%=image_tag post.img%></p></img>
    
             <%if current_user%>
            <p><%=form_for @favorite do |f|%>
                <%=f.hidden_field :post_id, :value => post.id %>
                <%=f.hidden_field :user_id, :value => current_user.id %> 
                <%=f.submit "Pin"%> 
                </p>
            <%end%>
            </div>
        
         <%end %>  
    <%end%>

</div>