<h1><%=@post.title%></h1>

<%=image_tag @post.img%>

<h2><%=@post.content%></h2>

    <h4></h4>
        <%@post.tags.each do |t|%>
        <%= link_to "#{t.name}", tag_path(t)%>     
        <%end%> </br>
    </h4>

        </br>
        
        </br>
        </br>
    
    
    



<%= link_to "Edit Post", edit_post_path(@post) %> |

<%= link_to "Delete", post_path(@post), :method => "delete"%> |

<%=link_to "Back to Home", '/'%>
