<h1><%=@post.title%></h1>

<h2><%=@post.content%></h2>

    <ul>
        <%@post.tags.each do |t|%>
            <li>  <%=link_to t.name, tag_path(t) %> </li> 
        <%end%>
    </ul>
    
    



<%= link_to "Edit Post", edit_post_path(@post) %> |

<%= link_to "Delete", post_path(@post), :method => "delete"%> |

<%=link_to "Back to Home", '/'%>
